body
{
	background:rgb(252, 112, 61);
	background:url(titled.png);
	text-align: center;

}

h3 , label{
	color:white;
}

	.P1 , .P2
	{
		background:black;
		padding: 100px;
		float: none;
		border-radius: 15px;
	}


#P1, #P2
{
	display: inline-block;
	margin-left: 12px;

}
#Word
{
	width: 60%;
}
#number
{
	letter-spacing: 5px;
}
#output
{
background: darkred;
border-radius: 10px;
border-top: 10px solid blue;
padding: 10px;
float: none;
text-align: left;
width: 30%;
}

b{
	margin-right: 200px;
	font-weight: 900;
}